
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: century;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #04AA6D;

    }

    a:link, a:visited {
        background-color: #333030;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: red;
      }


      div {
        border: 1px solid gray;
        padding: 8px;
      }
      
      h1 {
        text-align: center;
        text-transform: uppercase;
        color: #4CAF50;
      }
      
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
      }
      
      a {
        text-decoration: none;
        color: #008CBA;
      }


    /* Style the footer */
    .footer {
      background-color: #333131;
      padding: 10px;
      text-align: center;
    }






